

      <p>Trademark &copy</p>
      </div>

<script>
           var fade_karna = document.querySelector("#fade_karna");
     setTimeout(function(){ 
       fade_karna.style.display = "none";
        
 }, 5000);
</script>
      </body>
    </head>
</html>